@media only screen and (max-width: 1105px){
	.nav { 
		width: 100%; 
		overflow: auto; 
		-webkit-overflow-scrolling: touch; 
	}
	.setdown { 
		/*min-width: 790px; */
		display: inline-flex;
	}
	.view { overflow: auto; }
	#quicksearch { display:none; }
	.nav.top { min-height: 69px; }
	.nav li { white-space: nowrap; }
	
	.nav.top li a[title="irc"] { display: block; }
	.nav.top li a[title="chat in realtime"] { display: block; }
	.nav li a[title="send a message to another member"] { display: block; }
	.nav.top li:nth-of-type(4), .nav li:nth-of-type(6) {
		display:block;
	}
	
}

@media only screen and (max-width: 930px){

	iframe {
		display: none;
		}
		
	html body {
		margin: 0;
		padding: 0px 0px;
		/*
		font-size: 89%;
		*/
	}
			
	img { width: 100%; }

	#content {
		display: block;
		width: 100% !important;
		min-width: 320px !important;
	}
		
	#content .pad {
		margin: 0;
		padding: 0;
	}
	.subtitle {
		width: 85%;
	}
	#auth {
		height: auto;
		margin-bottom: 0;
	}
	.subject {
		width: 65%;
		font-weight:normal;
	}

	.member {
		width: 20%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	.posts {
		float: right!important;
		width: 60px;
	}

		
	.pref { float:none; }	
	body ul.list.read { border-left: 0; border-right: 0; margin-left: 0; }
	body ul.list { border-left: 5px solid red; border-right:none; margin-left:0px }
	.even, .odd {
		overflow: hidden;
	}
	
	.list li {
		padding: .4em 0;
	}


	.extra { 
		margin-left: 0px;
		width: initial;
	}
	.extra a { font-weight: 400; }
	.list .lastpost { color: #000; display:none; }

	.bottom li {  border: 0; font-weight:normal; }
	/*.postinfo { font-size:69%; }*/
	/*.controls { font-size: 70%; position: relative; top: 1px;left: 1px; }*/
	/*.count { font-size:80%; }*/
	.postinfo .memberlink { /*font-size:150%; margin-right: 10px;*/ }
	textarea { width: 95% !important; }
	.coreform .submit { margin-left: 10px; }
	.firstpost { padding: .4em .4em 1em .4em; }
	.postbody a { text-decoration:underline; !important; }
	.view .odd { padding-top: 1.0em; }
	
	.nav li a[title="view your messages"] { text-align: center; } 
	.nav li a[title="donate!"] { display: block; }
	
}

@media only screen and (max-width: 850px){
	/*.nav li a[title="send a message to another member"] { display: none; }*/
	.view li { margin:0px; }
}

/*
@media only screen and (max-width: 630px) {
	.setdown { 
		min-width:320px; 
		white-space:nowrap; 
		font-size: 66%;
	}
}
*/

@media only screen and (max-width: 586px) {
	.title {
		/*font-size: 100%;*/
		/*color: #ccc;*/
	}
	.subtitle, .subtitle a {
		/*font-size: 80%;*/
		/*color: #ccc;*/
	}
	/*.setdown { min-width: 800px; }*/
	.nav.top li {
		margin-left: 0;
		margin-right: 4px;
		}
		
	.nav.top li a {
		padding: 1em .39em!important;
	}
		
	.top .setdown li {
		border: 0;
		font-weight: bold;
		}
		
	.nav .setdown li:hover, .nav .setdown a:hover {
		text-decoration: none;
		}
		
	.top .setdown li a {
			text-decoration: none;
		}

	#content > div > div.small.clear {
		margin-top: 20px;
	}

	.subject {
		width: 59%;
	}
}

/* shrink nav for smaller phones, eg iphone 5 and below */
@media only screen and (max-width: 380px) {
	.setdown {
	    /*font-size: 80%;*/
	    /*font-size: 72%;*/
	    /*min-width: 600px;*/
	}
	#auth {
		padding-top: 10px;
		margin-bottom: -10px;
	}
	.posts {
		width: 47px;
	}
	html body {
		/*font-size: 72%;*/
	}
	.subject {
		width: 58%;
	}
}