searchd
{
  read_timeout = 5
  max_children = 300
  query_log = /path/to/query.log
  log = /path/to/searchd.log
  max_matches = 10000000
  seamless_rotate = 1
  pid_file = /path/to/searchd.pid
}

indexer
{
  mem_limit = 1024M 
}

source main
{
  type = pgsql
  sql_host = 
  sql_user = imeyer
  sql_pass = 
  sql_db = bco
}

source thread : main
{
  sql_query = SELECT id, subject, member_id, date_posted FROM thread
  sql_attr_uint = member_id
  sql_attr_timestamp = date_posted
}

source thread_post : main 
{
  sql_query = SELECT id, body, member_id, date_posted FROM thread_post 
  sql_attr_uint = member_id
  sql_attr_timestamp = date_posted
}

index thread
{
  source = thread
  path = /path/to/thread/thread
  morphology = stem_en
  charset_type = utf-8
}

index thread_post
{
  source = thread_post
  path = /path/to/thread_post/thread_post
  morphology = stem_en
  charset_type = utf-8
}
